body{
    margin:0;
    font-family:sans-serif;
}
#page-heading{
    text-align:center;
    margin-top:25;
    color:grey;
}
.cross-button{
    pointer-events: cursor;
}

#contacts-list-container{
    /* text-align: center; */
    
    display:flex;
    background-color: blue;
}